body {
    background-color: #eeeeee;
}

h1 {
    color: #204051;
}

.listProg {
    font-style: normal;
    color: steelblue;
}

h3:hover {
    color: #204051;
}

.prog {
    color: #222831;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #3b6978;
    border-width: 5px;
    width: 20%;
}

#education {
    color: #222831;
}